{% extends 'base.html.twig' %}
{% block body %}
    {%  for pizza in pizzas %}
    {{ pizza.name }}
        <a href="{{ path('order',{ id:pizza.id }) }}"><img src="../{{ pizza.image }}" alt="pizza"></a>
    {% endfor %}
{% endblock %}